extends layout

block content
  section.section
    div.container
      h1.title 
        i.fas.fa-bug
        |  #{title}
      //- p.subtitle Welcome to #{title}
  //- div#app {{ message }}
  //- div#app-2
  //-   span(v-bind:title='message') 
  //-     | Hover your mouse over me for a few seconds to see my dynamically bound title!
  //- div#app-3
  //-   span(v-if='seen') Now you see me
  //- div#app-4
  //-   ol
  //-     li(v-for='todo in todos') {{ todo.text }}
  //- div#app-5
  //-   p {{ message }}
  //-   button.button(v-on:click='reverseMessage') Reverse Message

  //- div#app-6
  //-   p {{ message }}
  //-   input.input(type='text', v-model='message')

  //- div#app-7 
  //-   ol  
  //-     todo-item(v-for='item in groceryList', v-bind:todo='item', v-bind:key='item.id')

  div#app-8.site(:class="{'site-break': isBreakTime}")
    app-main(:is-break-time='isBreakTime', :minutes='minutes', :seconds='seconds')
    app-controls(:is-timer-active='IsTimerActive')

  script#app-main(type='text/x-template')
    main.site-content
      div.container
        div.timer
          span.timer-session.js-session {{ isBreakTime ? 'break' : 'work' }}
          span.timer-countdown.js-countdown {{ `${minutes}:${seconds}` }}

  script#app-controls(type='text/x-template')
    div.container
      div.controls
        button.btn-md
          svg(width='14', height='18', xmlns='http://www.w3.org/2000/svg')
            path(d='M8.016.016H12v13.968H8.016V.016zM0 13.984V.016h3.984v13.968H0z', fill='#FFF', fill-rule='non-zero')

  script(src='/javascripts/index.js')


